<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA_Compatible" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Compatible" content="no-cache"/>
        <title>Document</title>
        <link rel="stylesheet"
            href = "/bootstrap.min.css">
        <script src="/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/">home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/profile">profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                </ul>
                <button type="button" class="btn btn-warning" onclick="location.href='/login'">Login</button>
              </div>
            </div>
        </nav>

        <b>로그인 된 이름 : <%= user.displayName %></b>
        <p>포인트 : <%= user.point %></p>

        <form id="kakaoLink" style="margin: 10px; padding:5px;">
          <div class="form-group">
            <input type="text" id="links" placeholder="오픈채팅 링크를 입력">
          </div>
          <button type="submit" class="btn btn-primary">저장</button>
        </form>

        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script>
          $("#kakaoLink").submit(function(event) {
            event.preventDefault();

          })
        </script>
    </body>
</html>